In [1]:
import pandas as pd
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.dashboard_objs as dashboard
import IPython.display
from IPython.display import Image
plotly.__version__

import dash
import dash_core_components as dcc
import dash_html_components as html

In [3]:
results_m1 = pd.read_csv('../results/match1.csv')
#na_values=':', usecols=['qid', 'score', 'time', 'user_effort', 'calculated_effort', 'execution_time'])
results_m1

   qid  score  time user_effort  calculated_effort  execution_time
0    1    0.0     8     Regular                100        0.000025
1    2    0.0     0     Regular                100        0.000025
2    3    0.0     6         NaN                100        0.000025
3    4    0.0     0     Regular                100        0.000025
4    5    0.0     2     Regular                100        0.000025
5    6    0.0     0         NaN                100        0.000025
6    7    0.0     3     Regular                100        0.000025

In [4]:
results_m1['qid']

0    1
1    2
2    3
3    4
4    5
5    6
6    7
Name: qid, dtype: int64

In [5]:
results_m1['score']

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: score, dtype: float64

In [6]:
results_m1['user_effort']

0    Regular
1    Regular
2        NaN
3    Regular
4    Regular
5        NaN
6    Regular
Name: user_effort, dtype: object

In [ ]:
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = dash.Dash(__name__, external_stylesheets=external_stylesheets)

app.layout = html.Div(children=[
    html.H1(children='The CURARE Challenge'),

    html.Div(children='''
        Effort results Match 1
    '''),
    
dcc.Graph(
        id='example-graph',
        figure={
            'data': [
               # {'x': [1, 2, 3], 'y': [4, 1, 2], 'type': 'bar', 'name': 'SF'},
               # {'x': [1, 2, 3], 'y': [2, 4, 5], 'type': 'bar', 'name': u'Montr√©al'},
                {'x': results_m1['qid'], 'y': results_m1['score'], 'type': 'bar', 'name': 'Score'},
                {'x': results_m1['qid'], 'y': results_m1['user_effort'], 'type': 'bar', 'name': 'Effort'},
            ],
            'layout': {
                'title': 'Measuring SCORE & EFFORT exploring Stack Overflow collections by hand'
            }
        }
    )
])

if __name__ == '__main__':
    app.run_server(debug=True)